@{
    ViewData["Title"] = "Home Page";
    ViewBag.Title = " CV - Martina Bruce";
}
 

<div class="text-center">
   <h3>@ViewBag.Title</h3>
   <img class = "images" src = "https://i1.wp.com/assets.scubatribe.reviews/assets/img/noimage_female.jpg?ssl=1" alt = "Martina Bruce">
   </div>
